/*
Write your variables here. All available variables can be
found in element-ui/packages/theme-chalk/src/common/var.scss.
For example, to overwrite the theme color:
*/
$--color-primary:#00A6FF;
$--color-success:#06D903;
$--color-warning:#FF9E02;
$--color-danger:#FF1010;
$--color-text-placeholder:#909399;
$--color-text-primary:#666666;
$baseColor:#00A6FF;

/* icon font path, required */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";
